.toggle{

    -fx-min-height:24px;
    -fx-pref-height:24px;
    -fx-max-height:24px;

    -fx-min-width:54px;
    -fx-pref-width:54px;
    -fx-max-width:54px;
}

.point{
    -fx-background-radius:9px;
    -fx-border-radius:9px;

    -fx-background-color:white;
    -fx-min-height:18px;
    -fx-pref-height:18px;
    -fx-max-height:18px;

    -fx-min-width:18px;
    -fx-pref-width:18px;
    -fx-max-width:18px;
}