.twin-pane{
    -fx-background-color:#343A40;
    -fx-padding:5px;
}

.scroll-pane{
    -fx-fit-to-width:true;
}

.scroll-pane, .scroll-pane .viewport{
    -fx-background-color:transparent;
}

.content{
    -fx-spacing:10px;
}